# Para ignorar arquivos, para que não sejam enviados para o GitHub, como uma
# chave de segurança, senhas, pastas secretas etc. Devemos criar um arquivo
# .gitignore e colocar os nomes dos arquivos ou pastas que não quermos enviar
# dentro desse arquivo .gitignore.

/node_modules
.env.local